[2016-06-19 01:57] shawnpanda opened #8 "request for an API key"
Hey, i have posted in freecodecamp gitter group but haven't got a response. I am wondering if i could receive an API which i will use for my exercise in creating a leader camp board with extended functionalities.  My private email is shawn.pan2330@gmail.com. Would appreciate your reply.

Thanks!

[2016-12-17 21:49] evaristoc opened #9 "Current status of the availability of an API key?"
Hi @roelver how are you?

The current readme of the project has a paragraph that shows as follows:

This is driving traffic into the room when we haven't been able to give a clear answer about the existence of the API.

Shouldn't that message be changed into something like "on-hold" if the API key is not currently available?

Or should we provide those keys?

[2017-03-03 15:45] bonham000 opened #10 "Question about this API"
Is this still a working project?

I am working on a project with some other campers and we are trying to find an easy way to figure out how many certificates (if any) a FCC user has achieved. Is it possible for us to use this API for that purpose?

[2018-03-19 06:02] raisedadead opened #11 "chore: planning and discussions."
Close and move issues from https://github.com/freeCodeCamp/freeCodeCamp/projects/5 to this tracker.

We should still be using the project board above, while reporting and discussing the threads here.

[2018-03-19 23:30] ojongerius commented on #11
@raisedadead I've raised https://github.com/freeCodeCamp/freeCodeCamp/issues/16918 in regards to this issue. I suggest we create a new project, but on an organisational instead of repository level. In that way we are able to link issues and PRs from multiple repositories. Shall we discuss there?

[2018-03-19 23:32] ojongerius commented on #10
Hey @bonham000. The new API should allow you to do that, but it's very early stage at the moment.

[2018-03-19 23:33] #10 closed, assigned to nobody

[2018-03-19 23:33] ojongerius commented on #9
This is related to the old API, the new API is a work in progress. Closing this as stale.

[2018-03-19 23:33] #9 closed, assigned to nobody

[2018-03-19 23:34] ojongerius commented on #8
Closing as stale.

[2018-03-19 23:34] #8 closed, assigned to nobody

[2018-03-20 00:43] ojongerius opened #12 "Update License files"
The current license is MIT ( https://github.com/freeCodeCamp/open-api/blob/staging/LICENSE ) and mentions "feathers", so I'm guessing it's a copy.
freeCodeCamp uses BSD 3-Clause (https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/LICENSE.md) for the code.

There is another license file https://github.com/freeCodeCamp/open-api/blob/staging/LICENSE.md that seems to pertain to the the dataset,

[2018-03-20 00:45] ojongerius opened #13 "Create contributing file"
Too early to do now, but let's not forget to create a guide when this project is in a shape where it's ready for other contributors.

- [x] Add contributing guide on lines of the main repo, but minimal.
- [x] Add contacts for general queries.
- [ ] ~~Add policy to report security issues.~~ have raised #146
- [x] Add instructions on creating a PR (for ex: PR must come from forks, etc.)

[2018-03-20 00:51] ojongerius opened #15 "Enforce conventional commits"
As done in FCC monolith.

[2018-03-20 01:27] ojongerius commented on #15
We'll discuss this in the PR.

[2018-03-20 01:27] #15 closed, assigned to nobody

[2018-03-20 02:07] ojongerius opened #18 "Setup CI"
@raisedadead just copy the https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/.travis.yml?

- [x] Configure travis.yml
- [x] Add Travis badge

[2018-03-20 02:16] ojongerius opened #19 "Update package name and possibly repository name too."
Currently the package name is `open-data` and repository name is `open-api`.

I propose we change both. It's too early to decide, but this is an issue to remind us to decide this before we launch anything.

[2018-03-20 06:48] raisedadead commented on #12
All software code at freeCodeCamp is to be BSD 3-Clause. All data sets, are to be Licensed CC-BY-SA-4.0

The repo's root should have a BSD 3-Clause. Sub directory for a data set can have an additional CC-BY-SA-4.0 if applicable.

The readme should be reflecting this. An example would be the way its done on the main repo.

[2018-03-20 06:56] raisedadead commented on #18
Yup, I guess that's a good place. I'll setup any additional config on the Travis dashboard if needed once we have this.

[2018-03-20 06:57] raisedadead opened #20 "Docker Setup"
We should have a docker setup for this early on.

[2018-03-20 22:19] ojongerius commented on #11
Right so this task can be started as @raisedadead mentioned we'll use the board there and use issues in this project, at least until Github fixes their organisational boards.

[2018-03-21 12:55] raisedadead opened #21 "docs: add contributing guide"
- [ ] Add contributing guide on lines of the main repo, but minimal.
- [ ] Add contacts for general queries.
- [ ] Add policy to report security issues.
- [ ] Add instructions on creating a PR (for ex: PR must come from forks, etc.)

[2018-03-21 20:15] ojongerius commented on #21
Duplicate of #13 , have copied your checklist over.

[2018-03-21 20:15] #21 closed, assigned to nobody

[2018-03-22 03:20] ojongerius opened #22 "As a freeCodeCamp user, I want to programatically retrieve my current challenge"
As an authenticated codeCamp user, I would to programatically retrieve the current challenge.

[2018-03-22 03:23] ojongerius commented on #22
@raisedadead how about this user story as part of spiking GraphQL? What label would you use? I don't see a feature or user story labels in the freeCodeCamp repo. Also, do you, and if so, how do you handle epics?

[2018-03-22 03:26] ojongerius commented on #11
@raisedadead I can't edit https://github.com/freeCodeCamp/freeCodeCamp/projects/5 it would probably help to make me a member of the freeCodeCamp organisation, unless their is a lot of red tape to cut through.

[2018-03-22 04:11] ojongerius opened #23 "Decide on authentication"
* for interactions from a user perspective. This could be the freeCodeCamp website or, for example, software like a IDE plugin that would pull current challenges in, and submit solutions on their behalf
* for 3rd parties that want to build other functionality -an example being leaderboards

Related issue suggesting to : https://github.com/freeCodeCamp/freeCodeCamp/issues/16104 (limited to Collabor

[2018-03-22 04:12] ojongerius commented on #23
Related issue https://github.com/freeCodeCamp/freeCodeCamp/issues/15914

[2018-03-23 03:15] ojongerius opened #25 "Implement strategy against denial of service attacks"
If we are going to use GraphQL this will be a little more complicated than using REST.

Things to consider:
* Query depth
* Timeouts
* Query complexity
* Rate limiting based on server time vs query complexity

This article provides a good background:

https://github.com/howtographql/howtographql/blob/master/content/graphql/advanced/4-security.md

Githubs approach: https://developer.github.com/v4/g

[2018-03-23 04:37] QuincyLarson commented on #11
@ojongerius Thanks for your patience. OK - I think you now have write permission on every freeCodeCamp repo. Please confirm whether you're able to update the project board now.

[2018-03-23 23:49] ojongerius commented on #20
Keeping this open while we discuss https://github.com/freeCodeCamp/freeCodeCamp/issues/16936, I'd still like to consider using docker images to lock in the mongo version.

Also https://github.com/freeCodeCamp/freeCodeCamp/pull/16937 needs to go in to be able to use it's network.

[2018-03-24 00:02] ojongerius commented on #11
@QuincyLarson thank you! Can confirm I am able to update the board.

[2018-03-25 22:31] ojongerius commented on #11
Just tried link some https://github.com/freeCodeCamp/open-api issues on https://github.com/freeCodeCamp/freeCodeCamp/projects/5 but it seems this is scoped to the https://github.com/freeCodeCamp/freeCodeCamp board 😠

@raisedadead what did you have in mind, using cards and linking to issues here? How about we just use a project board here?

[2018-03-26 06:09] raisedadead commented on #11
Yes, lets do that. It would be easier to sort things that way. Sorry about the frustrations with project board. 😓

Would you like to move them over? I can take care of it as well if you prefer.

[2018-03-26 20:49] ojongerius opened #26 "Discuss deployment strategy"
@raisedadead whats your normal strategy here? Function as a service could be cost effective, but it looks like Digital Ocean does not support it.

[2018-03-26 21:29] ojongerius commented on #11
No problem at all @raisedadead. I've added all current issues to the board. I'd love it if you could take care of the issues on https://github.com/freeCodeCamp/freeCodeCamp/projects/5 as you have a lot more context about these issues.

I'll spike an GraphQL endpoint, and it would be nice if we could have setup a meeting next week to go through the current strategy and more high level things like d

[2018-03-27 08:27] ojongerius opened #27 "Architecture / data sources"
Hi there,

We need to make some decisions on how to move forward on this project, and what the scope is going to be. There are a few options to discuss, they should probably be broken apart and judged by their merits, but let's see what options there are first:

We expose GraphQL via this project and operations are resolved..

* using REST calls served by loopback in the freecodecamp site.
* using

[2018-03-27 08:31] ojongerius commented on #27
@raisedadead thoughts? Who would be candidates to chime in? @BerkeleyTrue, @QuincyLarson?

[2018-03-27 08:32] ojongerius commented on #22
@raisedadead I've hacked something together that works, but it's handcrafted instead of generated, and we need to make some decisions about the architecture. I've raised #27 for this.

[2018-03-28 11:33] raisedadead commented on #27
@ojongerius the idea is to make open-api our primary and sole back-end. So yes this means we will have to recreate the model schema here once again.

I know that's a chore, but in favor of simplicity lets do it. For starters lets make the very first few commits based off of the schema that we have on the main repo.

It is going to be evident that we have to do a hybrid approach for GraphQL and RES

[2018-03-28 11:35] raisedadead commented on #26
I don't think FaaS is going to be any cheaper actually. Lets stick to DO instances for now. I would prefer having a container setup though to be independent of the DevOps a little and be able to have a CI - CD pipeline.

[2018-03-28 11:39] raisedadead commented on #12
Task remaining : update readme

[2018-03-28 13:13] raisedadead commented on #11
@ojongerius sure, I will do that when I can. I have gone ahead and done some house keeping on the repo, sorry made direct commits, but I found that to be fine since we are on a clean slate.

I removed all of the old code, (psst.. we have a archive branch for posterity of the earlier work, which is locked for the same reason).

But, from now on here is what we should follow:

1. Make PR from our fo

[2018-03-28 13:14] raisedadead commented on #22
I am super psyched to see what you have in mind.

[2018-03-28 13:17] raisedadead commented on #26
I forgot, for the very early product prototype demos, I am thinking Heroku should be fine? Nope?

[2018-03-28 13:23] raisedadead commented on #22
What label would you use? I don't see a feature or user story labels ...

Lets discuss in the meet.

Would like to use ZenHub https://www.zenhub.com/ ?

[2018-03-28 22:08] QuincyLarson commented on #23
@ojongerius I've reached out to Auth0 to request unlimited free access to their service. I agree that we don't want to roll our own authentication. I'll let you know as soon as we hear back.

[2018-03-28 22:12] QuincyLarson commented on #27
@ojongerius I just spoke with @raisedadead and @Bouncey and we are in agreement - all data should be exposed through GraphQL.

Our intention is to quickly rip out Loopback and replace it with GraphQL ASAP.

Don't worry about any sort of backward compatibility - we can overhaul all our other tools to work with GraphQL.

[2018-03-28 22:16] QuincyLarson commented on #11
@ojongerius It sounds like you all have everything you need here, but I just wanted to say I'm always available if I can be of any help.

I'm creating a few new projects on the Open API repo with user stories, which you and @raisedadead can interpret and turn into GitHub issues.

[2018-03-28 22:56] ojongerius commented on #11
@raisedadead great, I've shot you an invite, same time, April 3.

@QuincyLarson indeed, all set! Does @raisedadead have context about the events project?

[2018-03-29 03:59] ojongerius commented on #26
That's a really interesting statement, what is that based on?

Absolutely.

No preference between Heroku or DO, but I suggest we deploy to which ever one we will use in production so don't have refactor our deployment pipeline too much.

[2018-03-29 03:59] ojongerius commented on #23
@QuincyLarson awesome, looking forward to the update.

[2018-03-29 04:01] ojongerius commented on #22
I've seen that produc in a demo once, is it something freeCodeCamp has used before?

[2018-03-29 04:03] ojongerius commented on #20
Update https://github.com/freeCodeCamp/freeCodeCamp/pull/16937 is blocked on beta.

[2018-03-29 04:07] ojongerius commented on #27
Great! Thanks for the feedback @raisedadead, @QuincyLarson.

There definitely is less overhead in building a server with GraphQL without implementing REST, so I'm all for it. However, the sceptic person in me says that there might be a real possibility that we will have this reality where we'll have to support both while freeCodeCamp gets an overhaul.

Ok, so we *are* going to convert all models,

[2018-03-29 07:54] raisedadead commented on #22
Well I use it some times. We can sure use it here, we have used it collectively on freeCodeCamp/wiki in past.

[2018-03-29 07:57] raisedadead commented on #26
We have an average concurrents ~400 at any point of time or in other words about 2000+ daily actives.

So, I believe that running off a cheaper $10-20 DO instance theoretically will be cheaper if we can cache anything and everything that's not dynamic data in an ideal world.

[2018-03-29 07:58] raisedadead commented on #26
Currently we use a couple or more of costliest instances on the production server and perhaps a mid one on beta.

[2018-03-29 07:59] raisedadead commented on #26
P.S for the DB we might just be going for a managed cluster instead of out current DO setup.

[2018-03-29 08:00] raisedadead commented on #11
Yes, I do.. we will send you one more meeting invite to discuss this more specifically

[2018-03-30 00:41] ojongerius commented on #11
Great, case closed as far as I am concerned.

[2018-03-30 00:52] ojongerius commented on #26
Based on that information it's hard to say what is most cost efficient.

I'll leave some datapoints here: https://aws.amazon.com/lambda/pricing first 1M requests are free, then you start paying 0.20$ per 1 million requests. That does however does not account for extra costs you'll incur for Cloudfront (CDN), S3 buckets for static assets, Redis instances and your databases. Those Redis and database

[2018-03-30 00:56] ojongerius commented on #22
Ok, sounds good. How do we get started?

[2018-03-30 04:01] raisedadead commented on #22
Oh just visit this https://www.zenhub.com/extension and signup. You should start seeing a tab, on GitHub itself.

Then we can create issues as usual and add them to epics etc. (downside, it will only be visible to people using this extension, which is fine if we can add it in docs)

[2018-03-31 23:35] QuincyLarson commented on #23
@ojongerius Now that we've decided on Auth0 as a solution and have unlimited use of it, I'm closing this issue.

[2018-03-31 23:35] #23 closed, assigned to nobody

[2018-03-31 23:42] #11 closed, assigned to raisedadead

[2018-04-01 01:43] QuincyLarson commented on #27
@ojongerius Yes - we're planning to use GraphQL for all freeCodeCamp services (except for the forum, which is sort of it's own monolithic app).

I'm closing this issue since we've decided this aspect of our architecture - feel free to open subsequent issues to discuss other considerations.

[2018-04-01 01:43] #27 closed, assigned to nobody

[2018-04-02 23:03] ojongerius commented on #26
After meeting with @QuincyLarson and @raisedadead the agreement is that we will deploy to AWS. In the light of that decision I suggest considering:

* Using [Lambdas](https://aws.amazon.com/lambda), which complicates deployment but is very cost effective and scales rapidly.
* Using [AppSync](https://aws.amazon.com/appsync), this requires a spike to see if there is a fit. It is currently in preview

[2018-04-03 05:04] ojongerius commented on #20
Main work went in, just https://github.com/freeCodeCamp/freeCodeCamp/pull/17010 to go.

[2018-04-03 05:06] ojongerius commented on #22
After an Events team meeting we decided to work on other, event related, user stories first. I'm going to close this off for now.

[2018-04-03 05:06] #22 closed, assigned to ojongerius

[2018-04-03 05:09] ojongerius commented on #26
FYI I'll spend some time doing a small spike running Apollo server from a Lambda (using https://www.npmjs.com/package/apollo-server-lambda) with MongoDB.

[2018-04-03 05:51] raisedadead commented on #26
And any alternates to Mongo? I don't want to be using Dynamo because that will lock us to AWS.

[2018-04-03 07:34] ojongerius commented on #26
Maybe my last comment was unfortunately phrased; I plan to spike Apollo, using (not *against*) MongoDB,  and serve it using Lambda. Should we decide give Lambda a miss, much of that code will be re-usable.

Your raise an interesting point about vendor lock in.

We could write most code to be completely platform neutral, allowing us to switch between cloud providers as we please. However that does

[2018-04-03 11:59] raisedadead opened #29 "Setup Snyk"
- [x] Setup repo on snyk.io
- [x] Add badge
- [x] Add `npm run prepare-production` to be executed only in deploy environments

[2018-04-03 21:48] QuincyLarson commented on #26
@ojongerius @raisedadead I'm reviewing this issue in real time with @Bouncey so I speak for both of us here.

On the topic of whether Lambda would be cheaper - it would almost certainly be cheaper based on my understanding of how it would work. First, to give what @raisedadead said about having a lot of users, freeCodeCamp has more than 50,000 unique users a day - many of whom are unauthenticated,

[2018-04-03 22:34] ojongerius commented on #26
Closing this one off, during a conference call we all agreed that we will spike Lambda, and possibly AppSync.

[2018-04-03 22:34] #26 closed, assigned to nobody

[2018-04-03 22:35] ojongerius commented on #20
Case closed.

[2018-04-03 22:35] #20 closed, assigned to ojongerius

[2018-04-04 07:34] #18 closed, assigned to nobody

[2018-04-04 07:34] #12 closed, assigned to nobody

[2018-04-04 07:36] raisedadead commented on #13
This and all GitHub related templates like ISSUE_TEMPLATE and PULL_REQUEST_TEMPLATE should go in `.github`.

[2018-04-07 22:10] ojongerius commented on #11
@QuincyLarson / @raisedadead just a heads up that public org projects board are now supported!

[2018-04-08 22:34] #29 closed, assigned to nobody

[2018-04-08 22:35] ojongerius opened #32 "Explore testing with Jest"
As recommended in https://github.com/withspectrum/spectrum/blob/alpha/docs/backend/api/testing.md

See https://github.com/facebook/jest

@QuincyLarson @raisedadead @Bouncey any options on testing here, lessons learned that I could build upon?

[2018-04-08 22:38] ojongerius commented on #25
Relevant article on Spectrum's approach at https://dev-blog.apollodata.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b TL;DR: minimally implement depth and amount limiting. Investigate query cost Analysis.

[2018-04-09 01:50] ojongerius opened #33 "Configure / setup caching"
See http://graphql.org/learn/caching for background. Current implementations are inMemory and memcache. As per the docs it's probably wise to start with in memory. There is a request open to use Redis, but progress on it is unclear: https://github.com/apollographql/apollo-engine-js/issues/55 .

[2018-04-09 01:57] ojongerius opened #34 "Configure performance tracing"
See announcement blogpost at https://dev-blog.apollodata.com/exposing-trace-data-for-your-graphql-server-with-apollo-tracing-97c5dd391385 and the docs at https://www.apollographql.com/docs/engine/performance.html . It' would be good to start recording this data .

If we run from Lambda, we'll need a standalone container to keep track of state, see https://www.apollographql.com/docs/engine/setup-no

[2018-04-09 02:14] ojongerius opened #35 "Deploy toy GraphQL server using Lambda"
Deploy a simple Lambda serving GraphQL, using Travis. Initially against a small staging database.

- [x] Deploy a Lambda from Travis to AWS
- [x] Deploy a small staging database, mLab was suggested

[2018-04-09 02:15] ojongerius opened #36 "Implement MVP queries and mutations for events"
Definition of done: queries and mutations needed by the events project are supported by open-api.

[2018-04-09 03:15] ojongerius opened #37 "Authorisation"
We have decided on authentication in #23. We'll now need to think about authorisation.

Authentication can be done using Auth0. Both /graphql and the graphcool IDE endpoints should be approachable without authentication, and only queries and mutations needing authentication should require it.

## User groups ##

* unauthenticated users -this might not be available for a while or at all
* 3rd parti

[2018-04-09 03:37] ojongerius opened #38 "Use dataloader"
Dataloader is a project from Facebook and allows removing pressure from the database: https://github.com/facebook/dataloader .

As per the README, it does not replace shared application level caches. It's meant to be used _per request_, and prevent multiple DB calls when one will do. See https://github.com/facebook/dataloader/blob/master/README.md.

Premature optimisation for now, but will come in

[2018-04-09 03:40] ojongerius commented on #38
Closing for now.

[2018-04-09 03:41] ojongerius commented on #33
Premature optimisation for now.

[2018-04-09 03:41] #33 closed, assigned to nobody

[2018-04-09 05:15] ojongerius commented on #37
Still working through the pro and cons of some of the solutions on offer.

Which solution offers the fit best for us is influenced by our approach to schema creation. Part of finding the right fit is figuring out if we want to generate code given a GraphQL schema, or generate GraphQL given a Mongoose schema.

[2018-04-09 07:28] ojongerius opened #39 "Schema generation"
We *can* create GraphQL schemas from Mongoose schema. I love the idea of making sure the GraphQL schema and DB model is in sync.
However, after the initial migration we won't have to rely on that one MongoDB instance anymore, and this design makes less sense.

Figuring out a way forward should inform #37

[2018-04-10 03:47] QuincyLarson commented on #11
@ojongerius @raisedadead Awesome! I just re-opened our project board and set it to public! https://github.com/orgs/freeCodeCamp/projects/1

Anyone with write access to any of freeCodeCamp repos can now interact with it, and everyone can view it.

Let's use this as the central place for coordinating work on GraphQL APIs for our various projects. Would one of you like to populate it with the outstan

[2018-04-10 08:15] ojongerius commented on #11
Done!

[2018-04-11 06:13] ojongerius commented on #35
Spent some time today on this: I've successfully deployed my lambda (2 endpoints: /api and /graphql) to AWS, under a private account, using the serverless framework, and hooked it up to a free mlab Mongo instance.

To keep things simple I did not use a VPC setup, and used liberal AWS permissions -hence the private account. Just to see all part working.

No auth yet either -thats tracked in https:/

[2018-04-11 17:53] QuincyLarson commented on #35
@ojongerius Thanks for the update. It sounds like you're making steady progress. We're all looking forward to taking a look at your PR. Hope you feel better soon!

[2018-04-17 02:01] ojongerius commented on #38
Reopening this, it's not too complicated to get in and will really help offload the database.

[2018-04-17 02:03] ojongerius opened #41 "Lock down IAM permissions"
Related issues:
* https://github.com/serverless/serverless/issues/588#issuecomment-360780039
* https://github.com/serverless/serverless/issues/1439
* https://github.com/serverless/serverless/issues/1674

Related blog posts:

* https://serverless.com/blog/abcs-of-iam-permissions/
* https://serverless-stack.com/chapters/customize-the-serverless-iam-policy.html

[2018-04-17 03:07] ojongerius commented on #38
Note to self: article with examples of dataloader and Mongo at http://www.petecorey.com/blog/2017/08/14/batching-graphql-queries-with-dataloader/

[2018-04-17 04:24] ojongerius commented on #35
Thanks @QuincyLarson! I've raised https://github.com/freeCodeCamp/open-api/pull/42

You can have a look at what I deployed at https://ys2mlj49y9.execute-api.us-east-1.amazonaws.com/dev/api the IDE allows you to explore the schema, and query at will. This is a shared playground to see what queries are possible. Nothing interesting at the moment but it does give you a rough idea: https://graphqlbin.

[2018-04-17 23:52] ojongerius commented on #35
I've merged that PR, and raised another one to update the documentation; #43

[2018-04-18 00:49] ojongerius commented on #35
Have raised a PR that will allow Travis deployments https://github.com/freeCodeCamp/open-api/pull/44.

[2018-04-18 00:56] ojongerius commented on #35
@jrogatis (or others) if you'd like access to the Mongo db, shoot me a message on Signal and I'll share the Mongo URL. Quincy, Mrugesh and Stuart all have my number.

[2018-04-18 00:57] ojongerius commented on #35
I'm going to close this one off, some PRs are still open but the main goal of this issue has been reached.

[2018-04-18 00:57] #35 closed, assigned to ojongerius

[2018-04-18 04:54] ojongerius commented on #39
After researching some of the options out there, my current thinking is that this is not worth the effort.

If we would have had shared models with the site, which during initial discussions seemed to be the case for a rather considerate amount of time, using those models as a single source of truth made a lot of sense.

Now that we all agree GraphQL will be the source of truth it makes more sense

[2018-04-18 04:54] #39 closed, assigned to ojongerius

[2018-04-18 04:54] ojongerius commented on #39
/cc @QuincyLarson @raisedadead @Bouncey

[2018-04-18 05:27] ojongerius commented on #32
I'll actually work on this now instead of later, so we can enjoy that comfortable warm feeling of knowing we did not break things in a too terrible way as early as we can.

[2018-04-18 12:47] Bouncey commented on #32
I like tests, I like Jest.

I like testing with Jest.

Something had me thinking that Leveluptuts had a series on testing graphql, but I can't seem to find it

[2018-04-19 02:33] ojongerius opened #50 "Announce deployment on Gitter channels"
We deploy automatically, to make this more transparent it would be great to announce deployment in 2 channels:

* For staging deployments, announce it in freecodecamp/open-api
* For production (master) deployments, announce in both freecodecamp/open-api and freecodecamp/contributors

[2018-04-19 05:30] raisedadead commented on #50
We can configure our bot to do that. I am currently working on the github bot to use [probot](https://probot.github.io) and with that we can do all sorts of stuff.

[2018-04-19 08:21] ojongerius opened #52 "Snyk report"
Thanks for opening up access to Snyk @raisedadead!

There is one low severity vulnerability found; Prototype pollution via the "hoek" module. ( https://snyk.io/vuln/npm:hoek:20180212 )

There are bunch of libraries using it, I've raised a PR for one, but there are a few others and chasing that all up does not seem like a wise use of my time.

Does Snyk support whitelisting of "blessed" vulnerabili

[2018-04-19 08:27] ojongerius commented on #50
@raisedadead sounds good to me! How would probot be notified of a deployment?

[2018-04-19 08:40] Bouncey commented on #52
The [docs](https://snyk.io/docs/ignoring-issues) talk through how to ignore certain issues. I would recommend a temparay ignore for issues without a fix

[2018-04-19 10:38] raisedadead commented on #50
It can listen to events 'deploy hooks' and based on that it delivers a payload to the chat for announcement.

[2018-04-19 23:53] ojongerius commented on #50
Aha, so let me recap for me to see if I understand this, and to check that we are on the same page:

**TL;DR** If  we use deployment events in Github, Probot will be able to handle those.

The flow that Github uses, see https://developer.github.com/v3/guides/delivering-deployments -they use Heathen to handle deployments:
* A webhook is added on the repository, and GH will send a POST to the config

[2018-04-20 02:49] ojongerius commented on #52
👍 just wanted to run it pass you folks.

[2018-04-20 02:49] #52 closed, assigned to nobody

[2018-04-20 07:02] ojongerius commented on #32
My fist impression of Jest is really great, I'll try and get a PR open after the weekend. Have found a few sane looking examples of people using it to test their GraphQL servers, which will help us get started.

[2018-04-20 12:04] Bouncey opened #54 "Relax rules for commit messages"
I like the rules for commit messages, but please can we relax them.

My proposal:

`$1($2): $3`

`$1`: One of `feat fix chore docs tests`
`$2`: Any single word, any case
`$3`: Any string, any case

Example:

`feat(types): Expand User type and apply 'on-the-fly' migrations`

Reasoning:

I like to keep my commit messages consistent with the code is touches. If I fix a bug in `someBuggyFunction`, I w

[2018-04-20 20:56] ojongerius commented on #54
I'm all for this.

I do see merit in having consistency in regards to a full stop, the only thing I care about is consistency. Happy to keep enforcing full stops?

[2018-04-20 21:04] Bouncey commented on #54
Are we enforcing full stops? Haven't tripped that rule yet

[2018-04-20 21:30] ojongerius commented on #54
I'm guilty of having tripped that plenty of times, an old habit. Appears commitlint/config-conventional, which we extend, enforces [subject-full-stop]( https://www.npmjs.com/package/@commitlint/config-conventional#subject-full-stop).

[2018-04-21 08:19] Bouncey commented on #37
I like the idea of directives. It looks very clean

[2018-04-21 13:35] Bouncey commented on #54
So, are we saying

- full stop - yes
or
- full stop - no

??

[2018-04-22 22:06] ojongerius commented on #54
Let's keep the default of "full stop - no".

[2018-04-23 02:19] ojongerius commented on #36
Not much traction in the event project. Closing for now.

[2018-04-23 02:19] #36 closed, assigned to ojongerius

[2018-04-23 09:55] ojongerius commented on #32
I think I have something that I can turn into a PR tomorrow. It's  just a very simple user test, but with magic sauce (not mine) that spins up a mongodb server in memory.

[2018-04-23 09:57] raisedadead commented on #50
I am keeping the Probot on back burner for now. I have started some work (just initial config) and stuff over at my fork of the [bot](https://github.com/freecodecamp/camper-gh-bot), I'll let you know as soon as its ready for PR.

Thanks for the summary, this will help us in future withe the progress.

[2018-04-23 11:14] Bouncey opened #57 "Stack traces reference the webpack bundle"
[code]
Not much of a problem whilst I am developing the feature that is throwing errors, but not very helpful for future developers potentially having to cross-ref the bundle to the source manually.

Expected output:
[code]

[2018-04-24 05:34] ojongerius commented on #57
#60 will do, not exactly, but close to what you expected, by using source-map-support. This is my  throwing a random error in `dataLayer/mongo/user.js`. The stacktrace now includes now references the right file and line number:

[code]

[2018-04-24 22:35] ojongerius opened #65 "Switch to Yarn"
@raisedadead proposed to switch to Yarn. Some discussion took place in PRs, which I'll link here for posterity.

Original discussion took place in #59,  I mentioned:

And @Bouncey added:

[2018-04-25 08:44] #65 closed, assigned to nobody

[2018-04-25 08:45] ojongerius opened #70 "Switch to Yarn broke deployments"
Failing build: https://travis-ci.org/freeCodeCamp/open-api/builds/370905160
Commit: https://github.com/freeCodeCamp/open-api/commit/06d028e1f76dcfa6fb05f1b3a5971b962c0e50ab

@Bouncey / @raisedadead I'm happy to look at this tomorrow if you don't get around to fixing it.

[2018-04-25 08:47] #57 closed, assigned to nobody

[2018-04-25 10:07] Bouncey commented on #70
I have deleted all caches in case that was an issue and restarted the build on staging.

Still failing

[2018-04-25 18:25] Bouncey opened #73 "As a new user, I want to create a new account"
This account must be linked to the corresponding auth0 account by uuid

[2018-04-25 18:28] Bouncey opened #74 "As an existing user, I want to see what information freeCodeCamp holds on me"
This should be in the form of a JSON file.

Possible separate lambda function?

[2018-04-25 18:29] Bouncey opened #75 "As an existing user, I want to be able to delete all my information from freeCodeCamp"
Nothing should remain in the database for the user being deleted

[2018-04-25 21:39] #70 closed, assigned to nobody

[2018-04-25 22:18] raisedadead opened #76 "Add task runner for offloading load from npm run scripts"

[2018-04-26 04:48] ojongerius commented on #32
Addressed in https://github.com/freeCodeCamp/open-api/pull/69

[2018-04-26 04:48] #32 closed, assigned to ojongerius

[2018-04-26 06:48] #76 closed, assigned to raisedadead

[2018-04-26 12:45] Bouncey opened #81 "Create integration test env that handles auth protected routes correctly"

[2018-04-27 00:27] ojongerius commented on #81
I started looking at this out of interest. It looks like we can easily created a mocked context, and pass it in to the query like so:

[code]

This will make tests return correct responses for non existent and malformed tokens, still have to test against a correct token.

To do that, we create a random secret to use, have the server use that for the verification, and create the tokens using the sa

[2018-04-27 01:19] ojongerius commented on #81
Ha! Just had lunch and creating a valid token really is as simple as:

[code]

I'll factor this so that it's available in the test environment and raise a PR.

[2018-04-27 15:15] raisedadead opened #84 "prepublish should be prepublishOnly"
https://github.com/freeCodeCamp/open-api/blob/2652e5c02cd11604ff8efb202679cb3cd37d038e/package.json#L25

This is creating conflicts in yarn.lock and should ideally be removed or migrated

[2018-04-27 15:17] raisedadead commented on #84
[more info here](https://github.com/yarnpkg/yarn/issues/1323)

[2018-04-27 15:35] raisedadead commented on #84
P.S Its also annoying and slow that snyk has to run on every install.

[2018-04-28 07:20] #37 closed, assigned to ojongerius

[2018-04-28 09:46] #84 closed, assigned to nobody

[2018-04-29 22:22] ojongerius commented on #81
Changes from #83 were merged in via #58

[2018-04-29 22:22] #81 closed, assigned to ojongerius

[2018-04-30 02:38] ojongerius opened #90 "Support pagination"
As part of #25 I'm looking at ways to protect ourselves against harmful queries. One of the easier ways to prevent queries from generating excessive load is to set a limit to the amount of items a query return can return. Setting a limit on the amount of results returned requires us to support pagination, hence this issue.

/cc @Bouncey, @raisedadead

[2018-04-30 04:12] ojongerius opened #92 "Configure logging"
Where do our logs go, what do other freeCodeCamp project do? Can and if so, are we happy to re-use this?

/cc @freeCodeCamp/open-api

[2018-04-30 04:13] ojongerius opened #93 "Configure monitoring"
How is monitoring set up at the moment, what do other freeCodeCamp project do? Can and if so, are we happy to re-use this?

/cc @freeCodeCamp/open-api

[2018-04-30 08:21] raisedadead commented on #92
Currently none of the projects have a persistence for logs, sure we do have some tools like opbeat and datadog but, we would want to have our own solution preferably cheap (as in free) like

https://www.elastic.co/solutions/metrics
https://www.elastic.co/solutions/apm
https://www.elastic.co/solutions/logging

We are exploring options for hosting them on our own.

[2018-04-30 09:02] raisedadead commented on #93
see https://github.com/freeCodeCamp/open-api/issues/92#issuecomment-385337333

[2018-04-30 09:04] ojongerius commented on #92
Thanks!

Is Datadog giving us a good deal, the lack of data retention over 24 hours in the free tier sounds like a blocker. As Opbeat has been acquired by Elastic thats a dead end.

The Elastic offerings sound interesting. I have seen quite a high operational load on keeping an ELK stack performing at scale, which makes me a little wary of using it in a small team. However
if we get enough AWS cre

[2018-04-30 09:14] raisedadead commented on #92
I am planning to re-route the beta instance logs to a small EC2 instance on AWS as a spike with the elastic stack. I am unsure when I will get that ready though. It will need some changes on the beta itself.

But yeah I am up for a call around Thursday if you would like to catch up. Will send you an invite.

[2018-04-30 10:49] Bouncey opened #95 "Rename test file"
`./graphql/resolvers/directive.test.js` ----> `./graphql/resolvers/directives.test.js`

[2018-05-01 21:34] ojongerius opened #96 "Only run commit linting in PR builds"
It's good to have commit linting in PRs, but has little value in branch builds, specially a deployment build.

We could test the value of `${TRAVIS_PULL_REQUEST}`  and only run `commitlint-travis` if it is set to true.

[2018-05-02 02:02] ojongerius opened #97 "Lambda warming"
A "cold" Lambda takes a while to start. A common technique is to to have a scheduled events invoke the Lambda. This will make AWS start a container and process, which it will then keep around in case another invocation will follow. Those subsequent invocations will be much faster, as all set up has already been done.

Keeping Lambdas warm in a low traffic is important to keep things responsive. Ho

[2018-05-02 03:18] ojongerius commented on #93
While we figure out a perfect solution, this serverless plugin could add a lot of value for very little effort or cost: https://github.com/ACloudGuru/serverless-plugin-aws-alerts

We specify which alarms to look for, and where notifications need to go. Destinations can be email, webhooks, SMS or other Lambda functions.
Happy to hook this up and initially use email as a destination. We could delive

[2018-05-02 03:22] ojongerius commented on #50
There is a serverless plugin that allows pushing notification to Slack, or use webhooks. We can use Webhooks to announce to Gitter. https://github.com/maasglobal/serverless-plugin-notification

I'll see if I can get this working tomorrow morning.

[2018-05-02 03:26] ojongerius commented on #93
I'll do a little spike and set up CloudWatch based alerts with email and Gitter as a destination tomorrow morning.

[2018-05-02 03:28] ojongerius commented on #38
Like #89 this makes sense when we have have types that refer to each other.

[2018-05-02 08:16] #96 closed, assigned to nobody

[2018-05-02 21:49] raisedadead commented on #97
![image](https://user-images.githubusercontent.com/1884376/39550957-c88f91c6-4e80-11e8-9ec2-f8cbdf9e4df4.png)

[2018-05-02 22:44] ojongerius commented on #97
With that traffic I don't expect us to need any warming.

[2018-05-02 22:44] #97 closed, assigned to nobody

[2018-05-02 23:31] ojongerius commented on #92
We've had our meeting and decided to use Cloudwatch for now. What remains to do for this issue is to improve log messages by adding the API GW ID

Lambda see https://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-logging.html
Interesting trick to be able to track which API GW request caused a Lambda log message https://aws.amazon.com/blogs/compute/techniques-and-tools-for-better-serverless

[2018-05-02 23:33] ojongerius commented on #93
We had our meeting, current outcome I'll configure Cloudwatch alarms.

Once we deploy and run in the freeCodeCamp AWS account, I'll hook it up to the freeCodeCamp Datadog account so we can have pretty dashboards and integrations with all the things.

[2018-05-03 01:54] QuincyLarson opened #102 "Configure AWS Cloudwatch alarms when service limits are hit"
Add AWS Cloudwatch notifications that send out SMS messages to the dev team whenever an AWS service hits a limit. For example, whenever Lambda hits 5,000 calls per second

[2018-05-03 02:15] ojongerius opened #103 "Performance verification"
We need to verify, rather early than later, that performance between our Lambdas and our current MongoDB server is acceptable. If it is not, we could consider moving our MongoDB server to AWS, or see what performance a hosted solution would give us.

@freeCodeCamp/open-api any thoughts on how we can verify this? Stand up another Mongo server in DO, , let open-api staging communicate with it an mea

[2018-05-03 02:18] ojongerius commented on #102
Related #93

[2018-05-03 06:52] raisedadead opened #104 "Feat: User type Outstanding tasks"
- [x] remove or improve deleteGDPRUser
- [x] agree if tests should have uncaught errors

From https://github.com/freeCodeCamp/open-api/pull/55#issuecomment-386158708

[2018-05-03 07:37] raisedadead opened #105 "CI : build notification webhook URL should be under variable"
https://github.com/freeCodeCamp/open-api/blob/staging/serverless.yml#L37

This is going deliver payloads from all forks

![image](https://user-images.githubusercontent.com/1884376/39564691-de9c883c-4ed2-11e8-8021-801808e31b83.png)

[2018-05-03 09:28] ojongerius commented on #105
@raisedadead I dont understand. `serverless.yml` configures deployment, not build notifications.

[2018-05-03 09:30] raisedadead commented on #105
Yes, I was confused as well, but this is the place where the webhook is configured

https://github.com/freeCodeCamp/open-api/blob/a339616dbf9bf7ccb3e091dc931c3310d677a916/serverless.yml#L37

[2018-05-03 09:33] Bouncey commented on #104
So, expanding on my comments re: uncaught errors, maybe my explanation was way off. These errors that are flagged to the console are errors we will find during implementation and should not reach any client code. If they are triggered out in the wild, we send a generic `Something went wrong` message to the client whilst logging the actual error for ourselves to aid debugging.

As always, I am open

[2018-05-03 09:34] Bouncey commented on #104
GDPR endpoints (are they still endpoints in graphql?) should be improved/implemented as a priority.

[2018-05-03 09:35] ojongerius commented on #105
Actually in 2 places: `serverless.yml` and `.travis.yml`. You can't configure Travis notifications much and it would surprise me if it would notify for forks. If it does we probably want to look in alternative way of doing notifications. See https://docs.travis-ci.com/user/notifications/#Default-notification-settings

[2018-05-03 09:42] Bouncey commented on #73
Closed via #55

[2018-05-03 09:42] #73 closed, assigned to nobody

[2018-05-03 09:50] ojongerius commented on #105
Btw, you are right that forks that use sls deploy will not notify our channel, which we probably do not want. Agreed that is enough reason to put it under a variable.

That still leaves Travis notifications. I'm not convinced they work at the moment, I did get a green buid notification when staging recovered in my mailbox but see nothing on the Gitter channel.

Happy to look into both issues I men

[2018-05-03 10:04] Bouncey opened #107 "Query Auth0 for accountLinkId in directives if missing"
It is possible for clients to send a token for an existing user that does not have the `accountLinkId`, even though the user has one assigned to them and an entry in the database.

- User logs in/creates an account. The token sent to create the account has no `accountLinkId`
- As part of creating an account, we assign a `uuid` as the `accountLinkId` and update the user record held at Auth0
- Subse

[2018-05-03 10:37] Bouncey commented on #107
In looking into the `accountLinkId` issue , I found it was as simple as adding uuid() inside the rule, so I have. See #108 for details on the rule.

As always, I am open to changes.

We still need to discuss how we handle cases for if the `accountLinkId` is missing. This could happen if the incorrect scope was requested when logging a user in.

[2018-05-03 11:37] raisedadead commented on #105
Yes, that's how gitter is setup for notification. I think it in future, we can have a combination of the camperbot and camper-gh-bot doing this for us.

[2018-05-03 11:39] raisedadead commented on #105
Yup.. I have no clue on that, but my fork's builds do end up showing on that sidebar. Which we as a org do not want.

[2018-05-03 19:21] Bouncey commented on #38
Busy getting my learn on, but wanted to save a link to [this video by MPJ on dataloader](https://www.youtube.com/watch?v=--AguZ20lLA)

[2018-05-03 21:37] ojongerius commented on #105
Sounds like we want to:

* Remove the Gitter Travis integration as it does not allow fine grained control
* Keep the notifications settings in `.travis`, but remove the current webhook, create a new one and store it as as secure variable so it is not available to forks
* Update `serverless.yml` to use the secure variable so local deploys from forks do not announce their deployments for use.

How d

[2018-05-03 23:02] ojongerius opened #109 "Set up SNS notifications for critical alarms"
Definition of done: critical alerts create a phone call to team members.

This could be possible by having critical alarms firing of separate SNS topics that have a Twilio webhook as subscriber.

I've seen people create Lambas to connect to Twilio when they fire, but that kind of defeats the purpose, we want to know when Lambdas are on 🔥

Warning: this will be less sophisticated than services like

[2018-05-04 04:36] ojongerius commented on #105
A day of Yak shaving! Today I learned:

## Webhooks, Gitter and Travis 🤨

* You can add custom webhooks, which do not support much but "message=hey mom". If you let Travis send to the custom webhook you see nothing and get no notification nor error message
* You can configure secret variables, and they are accessible by scripts etc but will be casually *ignored* by Travis if it's about configuring

[2018-05-04 04:40] #105 closed, assigned to ojongerius

[2018-05-04 04:56] ojongerius opened #119 "Authorization: roles"
@Bouncey / @raisedadead you guys have much more context / knowledge on this domain than I do at the moment.

Have you guys looked in roles at all? I know Auth0 'Authorization extensions' support rules that can automatically populate user profiles with roles. Would this be the preferred mechanism to distinguish future third parties building on our platform from regular users? I  bring this up while

[2018-05-04 23:41] ojongerius commented on #50
Deployment are announced on Gitter. If we want to get a better experience than the "custom" webhook we use now, we'll have to either add that functionality to Gitter, use a bot or switch chat platform.

I might add some more data about the deployments in the current implementation, that would require a small change to https://github.com/maasglobal/serverless-plugin-notification

[2018-05-04 23:41] #50 closed, assigned to ojongerius

[2018-05-05 07:08] raisedadead opened #121 "Modify the issue templates to suite Open-API"

[2018-05-08 01:00] ojongerius opened #126 "Skipping of mandatory fields returns generic error"
Querying `getUser()` *without* the mandatory `email` field will return "Something went wrong, please check and try again".

DoD:
* Return a correct error that the user needs to supply the mandatory field
* Have a test in place to prove it

#128 will allow GraphQL to detect the query is invalid, raising the right error message

Before:

[code]

After:

[code]

An outstanding issue is that GraphQL P

[2018-05-08 01:03] ojongerius opened #127 "Querying non existent user returns generic error"
Querying for a non existing user will return "Something went wrong, please check and try again" however the logs show the Mongo returns "No user found for ..".

[code]

DoD:
- [x] We return the correct error
- [x] Test snapshot has been updated

[2018-05-08 03:42] ojongerius commented on #126
2 issues:

#128 will allow GraphQL to detect the query is invalid, raising the right error message

Before:

[code]

After:

[code]

[2018-05-08 04:02] raisedadead commented on #121
Well actually the image link needs to be updated to `https://raw.githubusercontent.com/freeCodeCamp/open-api/staging/.github/ISSUE_TEMPLATE/share_playground.png`

[2018-05-08 04:03] raisedadead commented on #121
Doesn't seem to work without that.

[2018-05-08 04:12] raisedadead opened #129 "Gitter webhook mandatory"
#### Describe the bug ####

Seems like Gitter Webhook is mandatory in config

#### To Reproduce ####
[code]

#### Expected behavior ####

Should it be mandatory 🤷‍♂️

[2018-05-08 04:47] ojongerius commented on #126
Have raised #130 to workaround graphcool/graphql-playground#652

[2018-05-08 04:54] ojongerius commented on #129
I noticed that, and it's ugly.

We only use it for deployments, shall we add an empty string for it in `sample.env`?

[2018-05-08 04:58] ojongerius opened #131 "Auth0 config not available to Travis"
AUTH0_CLIENT_ID, AUTH0_CLIENT_SECRET and AUTH0_NAMESPACE have been added in https://github.com/freeCodeCamp/open-api/commit/6c277382e9f2ff13db245480b00df6bb1bbccdae

@Bouncey or @raisedadead could you please those to Travis? Current deployments miss them, causing staging to broken -AFAICT.

These env variables should be set as secret:
 `AUTH0_CLIENT_ID_STAGE`
`AUTH0_CLIENT_SECRET_STAGE`
 `AUTH0_NA

[2018-05-08 21:57] ojongerius commented on #131
I've added those to Travis, based on input from @raisedadead .

[2018-05-08 21:57] #131 closed, assigned to Bouncey

[2018-05-08 22:38] ojongerius commented on #121
Nice catch @raisedadead

[2018-05-08 22:48] #95 closed, assigned to nobody

[2018-05-08 23:11] #121 closed, assigned to nobody

[2018-05-08 23:12] #129 closed, assigned to ojongerius, raisedadead

[2018-05-08 23:18] ojongerius commented on #127
Interesting, looking at the testing snapshot so this was expected behaviour:

[code]

However, nothing went wrong the user is not there. Retrying until the user has been created could take a lot of faith and time.

[2018-05-08 23:45] ojongerius commented on #127
@Bouncey looks like you are overwriting the error message in `asyncErrorHandler`. What's the thought behind this?

[2018-05-09 01:31] ojongerius opened #140 "Create CNAME for lambda deployments"
Stage is currently deployed to https://0pmplj77kg.execute-api.us-east-1.amazonaws.com/stage/api  and it would be nice to have something that is a little easier to remember.

@raisedadead we chatted about this, could you please create a CNAME, say either api-stage.freecodecamp.org or api.staging.freecodecamp.org and make it resolve to 0pmplj77kg.execute-api.us-east-1.amazonaws.com?

I can imagine t

[2018-05-09 01:37] ojongerius opened #141 "Upskill team in AWS"
I'm not a 100% on what current familiarity level is of the AWS stack but I do know it can be a little daunting and there are a lot of moving parts. I'd suggest at least one of the paid members on the team is familiar with how things tie together.

@freeCodeCamp/open-api what is your preferred way with getting up to speed here, and what would be a good timing? Happy to create a screencast, or pair

[2018-05-09 02:26] ojongerius commented on #93
Alarms are there, going to my email address. Just need to set up Datadog integration, which is pending of me moving things over to the freeCodeCamp AWS accounts.

[2018-05-09 02:41] ojongerius opened #144 "Can't log in to deployed Lambda"
I can't log in to stage. Things work fine locally. Guessing it is related to the recent Auth0 changes. @raisedadead / @Bouncey any idea?

Query:

[code]

Response:

[code]

Headers as follows, $ACCESS_TOKEN the `id_token` from local storage, from https://learn.freecodecamp.org

[code]

Am I doing something wrong here? I thought #131 would have helped but no dice! 😕

[2018-05-09 06:11] raisedadead commented on #141
Count me in. I think a screencast would be ideal for future reference, but I am okay on hopping on a call as well, whichever is more comfortable to you.

@Bouncey your thoughts?

[2018-05-09 06:14] raisedadead commented on #140
I think its best to keep it as `staging.api.freecodecamp.org`, and later on we can have `api.freecodecamp.org`, etc.

I would imagine in future if we do use a DNS automation that would be neat, for deploy-priview like URLs

[2018-05-09 06:34] ojongerius commented on #140
However, using `staging.freecodecamp.org` would make all staging urls share the same namespace, which feels more tidy.

The other upside of using `staging.freecodecamp.org` would be that we, in the future, could delegate it to route53 and manipulate it programatically.

[2018-05-09 06:45] Bouncey commented on #127
Nice "catch".

I think my top level asyncErrorHandler either needs more work to just re-throw exceptions we have thrown ourselves, or removed completely.

[2018-05-09 06:49] Bouncey commented on #144
Learn is on the freecodecamp-dev tenant for the time being. I think @raisedadead has a game plan for moving staging over to the dev tenant also?

[2018-05-09 06:54] Bouncey commented on #141
Please see this [tweet](https://twitter.com/BounceyTaylor/status/956314244030582784?s=19)

Still waiting for an answer

[2018-05-09 07:50] raisedadead commented on #140
Yeah, you are right. However, I feel having a `api` in there is less ambiguous, and separates off the convention from web apps and pure APIs?

[2018-05-09 07:57] raisedadead commented on #141
Replied. Don't you have my no on speed dial yet? :wink:

[2018-05-09 08:00] Bouncey commented on #141
You are my hero, but I can't even remember what that was for now.

[2018-05-09 08:01] Bouncey commented on #141
So, yes. I would be up for this.

[2018-05-09 08:06] raisedadead commented on #144
Yes, @ojongerius you should have full access to the  `freecodecamp-dev` tenant. Please feel free to use the existing apps and keys or create one, or let me know and I'll create one for you.

As for our production tenant. I'll do the same when we go to production, and add the keys.

[2018-05-09 10:40] Bouncey commented on #140
So, what are we CNAMEing to the staging lamda?

[2018-05-09 11:41] raisedadead commented on #140
`api-stage.freecodecamp.org` => `0pmplj77kg.execute-api.us-east-1.amazonaws.com`
`api.freecodecamp.org` => `<some value when we have it>.execute-api.us-east-1.amazonaws.com`

[2018-05-09 11:51] Bouncey commented on #140
`api-stage` is set

[2018-05-09 22:17] ojongerius commented on #141
Sweet, we'll do this once the dust has settled a little, but before you would receive alerts (or worse, not receive alerts) for production being on 🔥

I guess @QuincyLarson would receive those calls too and need to be up to speed also?

[2018-05-09 22:19] ojongerius commented on #140
[code]

Ehm..

[code]

🙇 thank you!

[2018-05-09 22:19] #140 closed, assigned to Bouncey

[2018-05-09 22:25] ojongerius commented on #127
Well played 😄 I'm happy to let it re-throw for now, and we can refactor later. I do see a use for masking internal errors with a default one, but informational errors we should bubble up.

Writing this, it could be to our benefit to include unique IDs with those generic errors so we could find out which GW request and Lambda invocation a support issue would be about.

[2018-05-09 22:56] ojongerius commented on #126
Case closed!

[2018-05-09 22:56] #126 closed, assigned to ojongerius

[2018-05-09 22:58] ojongerius commented on #144
Ok, I'll guess I'll have to roll up my sleeves and do this myself. I'll try to find some time tomorrow.

[2018-05-09 23:00] ojongerius commented on #127
Found the root cause, and I got what I wanted.

We agree we can make things even better but this will do for now.

[2018-05-09 23:00] #127 closed, assigned to ojongerius

[2018-05-10 09:01] sivakar12 commented on #75
Can I give this a try? Is anyone already working on this?

[2018-05-10 18:08] QuincyLarson commented on #109
@ojongerius I just set up UptimeRobot which has SMS notifications without the need for Twilio. It polls all our services once a minute and if any of them are down, it will email us and also it can send an SMS notification. It's easy to configure and I've already set it up for me and Stuart to get texts.

Here's our new status page: https://status.freecodecamp.org

What do you think of this service

[2018-05-10 18:41] QuincyLarson commented on #141
@ojongerius Yes - I would definitely like to know. Worst case scenario I can SSH in and break the glass.

[2018-05-10 22:15] ojongerius commented on #75
@sivakar12 all yours!

[2018-05-10 23:06] ojongerius opened #146 "Document how to report security issues"
If people find serious vulnerabilities we'd like to know about it via a private channel, not an issue on GH.

We could consider https://securitytxt.org, but a simpler way would be to add a security contact in the issue templates. @QuincyLarson how do handle security issues at the moment? Is security@freecodecamp.org an email address?

[2018-05-10 23:09] #13 closed, assigned to ojongerius

[2018-05-10 23:14] ojongerius commented on #141
Indeed, what are you going to when you have no more SSH! 👻

Cool, I'll cook something up closer to go live, as things are pretty in flux at the moment.

[2018-05-10 23:22] ojongerius commented on #109
@QuincyLarson  I can think of scenarios where your casual polling will succeed, but service is impaired for other type of requests.
Having said that I've caught many issues with simple scheduled end to end tests, that would have gone under the radar of specific monitors on metrics and unit tests.

I would not see it as a replacement, but a great addition 💯

re: https://status.freecodecamp.org is d

[2018-05-11 01:12] dav009 commented on #41
Here is what I gathered from multiple issues/comments:
https://medium.com/@dav009/serverless-framework-minimal-iam-role-permissions-ba34bec0154e

[2018-05-11 05:31] raisedadead commented on #146
Currently, we do not have a very clear way of reporting such issues. You can add team+security@freecodecamp.org as a email address.

[2018-05-11 05:32] raisedadead commented on #146
I am considering Keybase for PGP encrypted emails for reporting as well. Stay tuned.

[2018-05-12 04:48] imcodingideas commented on #146
Most larger companies have a `/whitehat` page with some instructions on how to report and a list of people who have found bugs.

May I suggest a landing page similar to:

https://www.facebook.com/whitehat
https://www.google.com/about/appsecurity/reward-program/

Clearly an open source program can't afford paid bug boundaries but we could have some list?

[2018-05-12 22:43] QuincyLarson commented on #141
When we don't have any more servers, and everything's running on Lambda or a managed cluster? Take a day of vacation 😎

OK - sounds good. Thanks for keeping us posted on this.

[2018-05-12 22:47] QuincyLarson commented on #109
@ojongerius Yes - I agree that there are plenty of corner cases that justify us having a more robust solution.

Not sure why you weren't able to hit the status page, but it's up now:

[code]

[2018-05-12 22:59] ojongerius commented on #146
I've raised an issue for this at https://github.com/freeCodeCamp/freeCodeCamp/issues/17154 as we won't have a landingpage for this project.

We can however, add a link to that landing page in our CONTRIBUTING doc and issues templates.

[2018-05-13 04:06] ojongerius opened #148 "Duplicate user creation should return error"
We currently log an error when a user tries to create an account at
 https://github.com/freeCodeCamp/open-api/blob/staging/src/dataLayer/mongo/user.js#L61

I believe we should thrown an error instead. This message has more use to the client than our logs.

[2018-05-13 04:08] ojongerius commented on #103
Note to self, include concurrency to see how Mongo will handle 1k concurrent connections.

[2018-05-13 09:19] user512 commented on #54
May I work on this? My assumption to config the `subject-case` rule. (http://marionebl.github.io/commitlint/#/reference-rules?id=subject-case)

[2018-05-13 10:01] ojongerius commented on #54
All yours @user512 !

[2018-05-13 15:53] user512 commented on #54
@Bouncey I tested the PR with your example commit message and returns no error/ warning.

[2018-05-13 17:24] user512 opened #152 "Can't createUser with the header generated by `yarn generate-auth-header`"
#### Describe the bug ####

Initial setup cannot run all test cases in development
email was missing in generate-auth-header to prevent first time developer to run `createUser`

#### To Reproduce ####

1. Run `yarn generate-auth-header`
2. Create user using the below script
[code]
3. Error returns
[code]

#### Expected behavior ####

By using `generate-auth-header`, developer should be able to cre

[2018-05-13 18:41] user512 commented on #152
I am not quite sure if the current setup is intentional but I know added email in `generateHeader` will resolve this problem for me, happy to submit a PR if the above direction is correct.

[2018-05-13 21:55] ojongerius commented on #152
Hi @user512 yup! Would be great if you could raise a PR for that.

Ideal would be:

* Patch `scrips/generateHeader.js` to add the email field
* ~~Improve email validation in `createUser`~~
* Test what happens without the email field set. You could set up an extra token in  `test/utils/test-environment.js` and integration test in `test/integration/userFlow.test.js`

[2018-05-13 23:09] user512 commented on #152
👍 will open a PR today to patch `genereteHeader` and add test.

[2018-05-13 23:18] #54 closed, assigned to nobody

[2018-05-13 23:23] ojongerius commented on #152
Great, thank you!

[2018-05-14 01:02] user512 commented on #152
#154 patched `genereteHeader.js` and added test in `userFlow.test.js`

[2018-05-14 02:44] ojongerius commented on #104
deleteGDPRUser was removed and logging decision explained. Thanks @Bouncey

[2018-05-14 02:44] #104 closed, assigned to nobody

[2018-05-14 02:45] ojongerius commented on #74
@Bouncey I've removed critical path.

[2018-05-14 05:38] ojongerius commented on #144
I've added cert from the dev tenant to `JWT_CERT_STAGE` in Travis and running an redeployment.

[2018-05-14 05:42] ojongerius commented on #144
Hmm that failed with

[code]

Strange, I just took the downloaded PEM file, and converted it with the following code:

[code]

[2018-05-14 07:31] ojongerius commented on #144
I'll have another look tomorrow, I guess there is are some other chars in there that Travis does not like.

[2018-05-14 23:09] #75 closed, assigned to nobody

[2018-05-15 04:00] ojongerius commented on #144
This is fixed in #159:

* base64 encoding the certificate, and storing it in JWT_CERT
* decoding it in the code

[2018-05-15 04:00] #144 closed, assigned to ojongerius

[2018-05-15 04:04] ojongerius commented on #146
Calling this closed. https://github.com/freeCodeCamp/freeCodeCamp/issues/17154 should cover having a proper page and https://github.com/freeCodeCamp/open-api/pull/155 added a security contact to the issue template.

[2018-05-15 04:04] #146 closed, assigned to nobody

[2018-05-15 06:55] raisedadead opened #162 "Configure GitHub Releases & Changelogs"

[2018-05-15 06:56] raisedadead opened #163 "Configure Publishing to NPM"

[2018-05-15 06:56] raisedadead opened #164 "Release v1.0.0"
This is an Epic for the v1.0.0 release. Use https://www.zenhub.com/ to check the connected issues.

[2018-05-15 08:24] ojongerius commented on #163
Interesting, what's the added value of NPM releases?

[2018-05-15 08:27] ojongerius commented on #164
Link to this repo and epic at https://app.zenhub.com/workspace/o/freecodecamp/open-api/boards?epics=55006901_164&repos=55006901

[2018-05-15 08:30] #152 closed, assigned to user512

[2018-05-15 22:55] ojongerius commented on #148
PR is good to go, just needs a rebase and resolving of conflicts.

[2018-05-16 03:16] ojongerius commented on #41
Removed S3 access for the Lambda. Next is creating an AWS account in the freeCodeCamp account, using a locked down policy generated with https://github.com/dancrumb/generator-serverless-policy

[2018-05-16 03:35] ojongerius opened #167 "CNAMEs and HTTPS certificates"
api-stage works, but https fails: https://api-stage.freecodecamp.org/stage/api

[code]

[2018-05-16 04:52] #148 closed, assigned to nobody

[2018-05-16 07:24] raisedadead commented on #167
I think there a couple issues here.

1. We need to toggle the traffic to directly reach the endpoint without passing though it. This is because the SSL Cert is shared among our other entities.

    The fix in that case is simply, toggle the orange cloud thing besides the entry for the CNAME

2. Double check CNAME flattening, but I think that needs to be investigated after 1. is taken care off.

[2018-05-16 07:25] raisedadead commented on #163
Nothing yet, I just added it here for exploration for now.

[2018-05-16 08:44] Bouncey commented on #164
Best. Label. Ever.

[2018-05-16 13:31] Bouncey commented on #167
![cname](https://user-images.githubusercontent.com/18572518/40119941-dcef9392-5915-11e8-895b-acfd4bab4da1.png)

[2018-05-16 21:52] ojongerius commented on #167
Same deal.

I have good experience with https://aws.amazon.com/certificate-manager . I see they support importing third-party-certificates. We can either import certificates in to certificate manager or create a new one (it's free).

[2018-05-17 00:17] ojongerius commented on #167
While we are at it, can we update the CNAME? I've deployed stage to the freeCodeCamp account and the URL is now: https://hxtsoafqna.execute-api.us-east-1.amazonaws.com

[2018-05-17 00:26] ojongerius commented on #41
I've moved the app from my account to freecodecamp. The generated policy did not really deliver. The tool has not been updated, and was missing permissions, and plugins that create notifications and alarms are a party pooper too.

My plan b:

I've given admin access to the serverless user, and I'll review permissions used by that user to create a new policy.

We can use cloudtrail to review access

[2018-05-17 00:59] ojongerius commented on #93
I've moved the app to the freeCodeCamp account, and have set up the Datadog integration.

This has generated a few automatically created dashboard that may be of interest, for instance the Lambda one at https://app.datadoghq.com/screen/integration/98/aws-lambda

[2018-05-17 01:02] ojongerius commented on #93
Interesting metrics to alert on and or graph:

* api gateway -aws.apigateway.*
* lambdas - aws.lambda*
* SES - aws.ses.*
* SNS - aws.sns.*
* MongoDB - mongodb.*

[2018-05-17 01:07] ojongerius commented on #34
Of interest, there is an Apollo Engine integration for Datadog.

[2018-05-17 02:14] ojongerius commented on #109
Just noticed that SNS has supported SMS via SNS since 2016 ..

[2018-05-17 05:44] raisedadead commented on #167
@ojongerius that is the intent. @Bouncey has confirmed that the traffic is not going through CloudFlare, it would need a SSL cert.

One can be created using any method that is suitable. Will you be able to do that using the certificate-manager? Would it need domain verification records (TXT), etc.?

If that is the case, we should just do this over a call with @freeCodeCamp/open-api It will just be

[2018-05-17 14:17] Bouncey commented on #167
CNAME updated.

If we send the traffic through cloudflare would it not pick up our https cert? Do we not want this?

[2018-05-17 14:35] raisedadead commented on #167
If we send traffic trough CF, then the cert used would be of the ones provided by CF. But since the actual API end point is having a default cert of its own (even when we do not give it one), there is a mismatch.

In that case, it should just directly hit the API as it is bypassing CF.

But this also fails, because we are using a CNAME for the API, which CF flattens out.

So, we need to install a

[2018-05-18 00:00] ojongerius opened #174 "Handle empty body"
Hitting Graphql with an empty body is not supported, but we currently expose an error from apollo-server, which we should dress up a little nicer.

[code]

Find code that generates the error at https://github.com/apollographql/apollo-server/blob/master/packages/apollo-server-core/src/runHttpQuery.ts#L67

[code]

[2018-05-18 00:19] ojongerius opened #175 "Handle invalid JSON"
In AWS I see a 502 with "Internal Server error".

Logs show `Unexpected token _ in JSON at position 1`

Reproduce:

[code]

I guess we need to validate the payload before we continue.

Related: #174

[2018-05-18 02:38] ojongerius commented on #41
I've removed the policy I initially added, and created one using the visual editor. In the long run having a nice version under version control, preferably managed by a tool like Terraform is desirable.

For now, we have a versioned policy in place, that only has permissions for services touched by serverless deployments and where possible locked down to resources that include openapi* in the ARN.

[2018-05-18 02:38] #41 closed, assigned to ojongerius

[2018-05-20 03:04] QuincyLarson commented on #109
@ojongerius Awesome - so it doesn't require Twilio integration? We could use it for messaging when we have outages?

[2018-05-21 04:01] sivakar12 commented on #174
'apollo-server-core' is throwing the error but out 'apollo-server-lambda' hander is catching the error and adding the error message
https://github.com/apollographql/apollo-server/blob/master/packages/apollo-server-lambda/src/lambdaApollo.ts
[code]

[2018-05-26 03:10] imcodingideas opened #180 "Inactive Days"
#### Describe the solution you'd like ####

On the repo https://github.com/freeCodeCamp/classroom-mode we are scraping Free Code Camp for the users inactive days, so I would like to query a user and see a timestamp of the last submission.

[2018-05-26 03:18] imcodingideas opened #181 "View Users Solutions"
#### Is your feature request related to a problem? Please describe. ####
The goal for classroom-mode is to enable teachers to help students, and do code reviews along the way.

#### Describe the solution you'd like ####
We would like to ask to see students code submission i.e. https://www.freecodecamp.org/ojongerius view solution.

#### Describe alternatives you've considered ####
We could scrape

[2018-05-26 05:00] ojongerius commented on #181
I think solutions will no longer be stored at freeCodeCamp. @freeCodeCamp/open-api can you confirm this?

[2018-05-26 13:44] raisedadead commented on #181
That is the plan. We are removing all solutions other than the links to user submitted projects. I understand that its a breaking change for class room mode.

But I think @imcodingideas you should probably connect with @QuincyLarson for more confirmation.

/cc @Bouncey

[2018-05-26 16:47] rivera1294 opened #182 "yarn generate-auth-header not working"
#### Describe the bug ####

When running yarn generate-auth-header, an error is returned.

#### To Reproduce ####

[code]

#### Expected behavior ####

When running this command a valid authorization header should be generated.

#### Additional context ####

https://github.com/freeCodeCamp/open-api/blob/9c5bb2207eecea8d69170bd9003c121eec5959e8/scripts/generateHeader.js#L4

If we change this line t

[2018-05-26 17:59] imcodingideas commented on #181
I'm quoting my friend @user512 from a slack conversation we're having.

"Let’s say a student submitted a half completed solution and decided to re visit the site tomorrow to continue, if FCC isn’t storing the student submitted solution, then the student will have to start from stretch"

I'm glad I brought this discussion up.

[2018-05-26 18:01] user512 commented on #181
It's a surprise to me. Let's say a student is only half way thru a challenge in FCC, and the student decided to complete the challenge tomorrow, the student will have to start from the beginning?
It sounds like fcc still have to store student solution somewhere.

[2018-05-26 21:35] ojongerius commented on #182
@rivera1294 that would be great!

[2018-05-26 21:36] ojongerius commented on #180
Sounds completely reasonable to me.

[2018-05-27 13:45] Bouncey commented on #181
We are still storing solutions in `localStorage`, which are then removed on successful submission. So half completed solutions, that have had the tests ran on, them will still be held in that browser which is the case in production right now.

Currently, freeCodeCamp only stores completed solutions in the database.

This is a major contributing factor to the size of our user records and, in some c

[2018-05-27 16:30] user512 commented on #181
Thanks @Bouncey for the explanation, this is a smart way to operate without compromising user experience.

[2018-05-27 16:55] imcodingideas commented on #181
@Bouncey isn't that the benefit of graphql, so we're able to query the data that we need.

[2018-05-27 17:59] Bouncey commented on #181
@imcodingideas 100% it is. But with a larger data structure we have a higher overhead for controlling user privacy and storage/transfer costs of backups and production database instances.

We are making an effort to reduce db costs for challenges so we can expand the value of future services provided by freeCodeCamp, as always, for free. This will become more evident in the coming months, and will

[2018-05-27 19:42] imcodingideas commented on #181
As I see this data, defining the success of `classroom-mode` - what if I were to donate a significant part of last years backup cost. Would that enable us to at least keep the data for now? @QuincyLarson please connect with @utsab for my contact information.

[2018-05-27 21:49] ojongerius commented on #181
Could a feasible solution be to store solutions for students if, and only if they are registered with a classroom?

I know this is currently not implemented. We'd have to provide support for classrooms in open-api. However with the classroom team providing development support, and possibly even financial support, why not?

[2018-05-27 21:52] #182 closed, assigned to nobody

[2018-05-27 21:54] ojongerius commented on #182
Thanks for correcting my mistake 🤦‍♂️ @rivera1294 ! 🎉

[2018-05-27 21:59] ojongerius commented on #180
How we approach this would be related to the solution agreed on in #181

* Without storing of solutions, add `lastSubmission` to the user model, and have responsible functions set/update the timestamp.
* If we do keep on storing solutions, well it depends on the implementation chosen 😄

[2018-05-27 22:00] ojongerius commented on #180
(blocked on discussion in  #181)

[2018-05-27 22:22] ojongerius commented on #109
That's right. Unless AWS is down... So there still is a strong use case for external monitoring that includes alerting.

[2018-05-28 01:46] rivera1294 commented on #182
Glad I could help @ojongerius!

[2018-05-28 02:10] utsab commented on #181
Before we make any decisions on this, I'd like to do a few user interviews with teachers to get a better sense of how much they really want to see students' solutions.  My intuition is that they would more highly value statistics like how many attempts a student has made or how much time spent on a challenge, not necessarily the content of the solution.

Would it be possible for the api to return

[2018-05-28 04:19] imcodingideas commented on #181
@ojongerius I would be totally OK with something like that. Another solution would be to have a lamda function that deletes the solutions for Users who are inactive for some number of period. Say, 6 months.

This way the database size, and cost does get reduced and maintainable. I do have experience with AWS and would love to provide development support and financial support.

[2018-05-28 04:31] imcodingideas commented on #141
@Bouncey I'm studying for the AWS Solutions Architect right now. What you are looking for is:

https://aws.amazon.com/elasticloadbalancing/

[2018-05-28 04:51] ojongerius commented on #181
Great!

Let's see what @utsab comes back with first.

[2018-05-28 23:56] QuincyLarson commented on #181
Hi everyone, I just got back from China so pardon me being a bit late to this discussion.

For the sake of 100% clarity, and to summarize this discussion so far:
1. we plan to continue storing completed algorithm challenge solutions and the submitted URLs for projects
2. the rest of the challenges are designed to be as bite-sized as possible (they can usually be completed in less than 2 minutes).

[2018-06-04 04:55] QuincyLarson commented on #109
@ojongerius Yes - but if AWS goes down there isn't a lot we can do anyway. It's gone down what - 4 or 5 times in 10 years?

[2018-06-07 02:07] ojongerius opened #184 "Agree on using an external uuid that is not coupled to any implementation"
As promised in https://github.com/freeCodeCamp/open-api/pull/177
- [x] Agree on using an external uuid that is not coupled to any implementation

@freeCodeCamp/open-api do we agree to not leak internal IDs, be it Mongo or Auth0, and use externalId, which will be portable?

[2018-06-07 02:08] ojongerius opened #185 "Update integration test snapshot"
Update integration test snapshot -should return errors for a query skipping a mandatory field: skipped mandatory field error 1

[2018-06-07 02:11] ojongerius opened #186 "Schema validation"
Validation of particularly createCommunityEvent is a big clunky. We could create an object, populate it with all the fields that are appropriate and do *one* validation instead. This can be re-used for the update function (#187) too.

Possible library that is up to date and fast would be https://github.com/epoberezkin/ajv

[2018-06-07 02:12] ojongerius opened #187 "Create updateCommunityEvent"
Was not implemented as part of https://github.com/freeCodeCamp/open-api/pull/177

[2018-06-07 02:14] ojongerius opened #188 "Remove duplication in tests"
Unit and integration tests have a lot of duplication. Raising this as part of new tech debt created in https://github.com/freeCodeCamp/open-api/pull/177

[2018-06-07 02:16] ojongerius commented on #185
Non issue.

[2018-06-07 02:16] #185 closed, assigned to nobody

[2018-06-07 15:35] raisedadead commented on #184
I agree that we should be using the externalId as the foreign key.

[2018-06-07 20:02] #184 closed, assigned to nobody

[2018-06-10 15:11] sivakar12 commented on #187
I can do this if nobody else is doing it

[2018-06-10 23:32] ojongerius commented on #187
@sivakar12 that would be awesome!

[2018-06-12 08:01] sivakar12 commented on #187
Since we are using async-await on Promises, wouldn't it be better to use try catch for errors instead of passing a callback to catch on the promise?

[2018-06-23 03:58] utsab commented on #181
Hi everyone,

We have performed 3 user interviews with teachers at CSUMB, CUNY, and St. Francis Highschool.  Here are the main takeaways:

- We confirmed that they do not care much for the individual solutions to the drills.  We can safely remove this feature from classroom mode.
- They do care a lot about two key statistics: 1) number of attempts per challenge 2) time spent on each challenge.  Hi

[2018-06-28 19:39] QuincyLarson commented on #181
Hi @utsab Interesting. Thanks for sharing these takeaways!

We thought about tracking number of attempts in the past but our reasoning has been that it might be discouraging. We track the average time on each challenge through Google Analytics, and it's generally in the 2 - 4 minute range. When we notice challenges that take longer than that, they're good candidates for rewriting or breaking up in

[2018-07-10 03:32] utsab commented on #181
HI @QuincyLarson, thanks for considering our requests.  I think there may be some miscommunication regarding the number-of-attempts metric.  You wrote this:

Yes, I agree this would be discouraging to show the students.   However, the intention was to show this to the **teachers** not the students.  The use case here was that a teacher could see, for example, that one topic had 10 times the number

[2018-07-14 20:51] QuincyLarson commented on #181
@utsab I just talked with another organization yesterday who wanted this sort of information as well. I think it's fine for us to store it as long as we carefully control access to it.

We could store the number of attempts, completion time, and solutions, and then only expose these stats to the individual users and other users whom they have verified as their teacher.

[2018-07-17 03:25] utsab commented on #181
@QuincyLarson I'm glad you're open to storing this information.  I hear your concern about carefully controlling access to it.   One idea we were considering was to allow campers to enter a "class code".  Only the teacher with the correct classcode would have access to the data.

Question: I'd like to volunteer to implement the appropriate features:
1) Storing the number-of-attempts in the learn.f

[2018-07-18 02:45] imcodingideas commented on #181
I'm thinking maybe @ojongerius, @raisedadead, or @Bouncey maybe could create a ticket with the things we would need to complete as more of a direction/leadership.

[2018-07-19 04:03] utsab commented on #181
@QuincyLarson, I submitted a [feature proposal](https://github.com/freeCodeCamp/freeCodeCamp/issues/17899) for the class code.  I believe this will address the concern you have around protecting access to the number-of-attempts data.

I look forward to hearing any feedback you have on this.

[2018-07-27 04:43] ojongerius opened #190 "Port one query from loopback to open-api"
As agreed we'll look at one piece of functionality that is currently using the loopback REST API and replace it with open-api. This will allow us a bit of focus in getting something out in to production.

@raisedadead could you please formulate the functionality you had in mind including the code in the current app?

[2018-07-27 04:45] ojongerius opened #191 "Create overview of outstanding issues that prevent going to prod"
Definition of done; a clear overview of steps needed before we can go to prod exists and is communicated to the freeCodeCamp team.

[2018-07-27 04:47] ojongerius opened #192 "Investigate running in Azure"
Lots of parts will be running in Azure as an Azure Function. The Serverless framework supports multiple providers. If this works we could kill 2 birds with one stone and skip the prod step in AWS.

[2018-11-14 09:31] Bouncey opened #195 "Create a role system for API use"
As we plan to expand our API and application surface area, we need to implement the use of role-based API protection.

- [ ] Roles should include `guest`, `user`, `organiser`, `editor`, `admin`
- [ ] We should be able to add new roles at a later date
- [ ] We should be able to protect role specific routes via middleware

[2018-11-14 14:15] raisedadead commented on #195
Yup. TBD post move to LB4.

[2018-11-15 18:07] thecodingaviator commented on #195
Why not open this as a project?

[2019-01-05 04:55] utsab commented on #188
Hi @ojongerius, I'd like to start helping out with open-api.  Working on the unit tests seems like a good way for me to get my feet wet.  Can you assign me to this issue?

[2019-01-06 01:24] user512 commented on #175
👋 @ojongerius, I took a look at this issue, I was wondering if it's a good idea to check valid JSON or empty body inside this try block?
https://github.com/freeCodeCamp/open-api/blob/dc7f111078b905a1a8d5fd9a4574c715a7c3e5b6/src/handler.js#L60-L68

[2019-01-11 07:37] #175 closed, assigned to nobody